/*
 *Custom CSS
 *
 */
 .logo{
 display:inline-block;
 vertical-align:top;margin-top:10px;margin-bottom:60px;margin-right:20px}
.work {
  display: inline-block;
  color: #2577a2;
  margin:0;
  line-height:45px;
  vertical-align:top}
.breadcrumb {
  background-color: white;display:inline-block }

.row {
  background-color: #134f5c;
  color: white; }

.feature-block {
  display: block;
  background-color: #a4c2f4; }

footer .address, footer .contact, footer .footer-menu {
  display: block;
  padding: 20px 0; }

.footer-menu .breadcrumb {
  background-color: #434343; }

#global-footer {
  padding: 20px;
  font-size: 0.85em;
  background: #18191b;
  border-bottom: #0a0a0a 5px solid; }

#global-footer #footer-nav {
  max-width: 1170px;
  margin: 120px auto 80px auto;
  border-bottom: #222426 1px solid;
  position: relative;
  text-transform: uppercase; }

#footer-menu {
  float: right;
  border-top: none; }

#global-footer #footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

#footer-menu li {
  float: left;
  font-size: 0.85em; }

#footer-menu li a {
  color: #4d5356;
  display: block;
  padding: 10px 15px; }

#footer-menu li a:hover, .contact a:hover {
  text-decoration: none;
  color: #e2edf2;
  background: inherit; }

.hero-unit {
  margin-top:40px;margin-bottom: 0 !important; border-radius:none;-webkit-border-radius:0;-moz-border-radius:0}

.careers a {
  padding-right: 0 !important; }

#global-footer #social-menu {
  font-size: 1.5em; }

#global-footer #social-menu li a {
  padding: 10px; }

.contact a {
  color: #999999; }
.contact p, .address p{color:#999999}
.button-big {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	padding:25px 24px;
	text-decoration:none;
	text-shadow:1px 1px 1px #ffffff;
}.button-big:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button-big:active {
	position:relative;
	top:1px;
}
.phone, .contact-email, .contact-email-phone{
display:inline-block;
vertical-align:top;
margin-top:5px
}
.phone a{
display:block
}
.phone-germany {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom,
color-stop(0.05, #c7c7c7), color-stop(1, #f2f2f2) );
	background:-moz-linear-gradient( center top, #c7c7c7 5%, #f2f2f2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7c7c7',
endColorstr='#f2f2f2');
	background-color:#c7c7c7;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #a897a8;
	display:inline-block;
	color:#3d383d;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:1px 1px 2px #ffffff;
    margin-top:10px
}.phone-germany:hover {
	background:-webkit-gradient( linear, left top, left bottom,
color-stop(0.05, #f2f2f2), color-stop(1, #c7c7c7) );
	background:-moz-linear-gradient( center top, #f2f2f2 5%, #c7c7c7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2',
endColorstr='#c7c7c7');
	background-color:#f2f2f2;
}.phone-germany:active {
	position:relative;
	top:1px;
}
.phone-vn {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom,
color-stop(0.05, #c7c7c7), color-stop(1, #f2f2f2) );
	background:-moz-linear-gradient( center top, #c7c7c7 5%, #f2f2f2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7c7c7',
endColorstr='#f2f2f2');
	background-color:#c7c7c7;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #a897a8;
	display:inline-block;
	color:#3d383d;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:1px 1px 2px #ffffff;
}.phone-vn:hover {
	background:-webkit-gradient( linear, left top, left bottom,
color-stop(0.05, #f2f2f2), color-stop(1, #c7c7c7) );
	background:-moz-linear-gradient( center top, #f2f2f2 5%, #c7c7c7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2',
endColorstr='#c7c7c7');
	background-color:#f2f2f2;
}.phone-vn:active {
	position:relative;
	top:1px;
}
