.jesl-modal-overlay {
    position: fixed;
    top: 0;  
    right: 0;  
    bottom: 0;  
    left: 0;  
    height: 100%;  
    width: 100%;  
    margin: 0;  
    padding: 0;  
    background: black;  
    opacity: .75;  
    filter: alpha(opacity=75);  
    -moz-opacity: 0.75;  
    z-index: 50; 
}

.jesl-box {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 0;
    z-index: 55;
    overflow: hidden;
    height: 0;
    width: 0;
}

.jesl-close-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    background: url('img/close-button.png') no-repeat;
    opacity: 0.5;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    z-index: 66;
}

.jesl-scroller {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    height: 100px;
    width: 30px;
    opacity: 0.5;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    z-index: 66;
    display: none;
}

.jesl-scroller:hover, .jesl-close-button:hover {
    opacity: 1;
}

.jesl-scroller.right {
    background: url('img/right-arrow.png') no-repeat;
    right: 0;
}

.jesl-scroller.left {
    background: url('img/left-arrow.png') no-repeat;
    left: 0;
}

.jesl-scroller-thumbs li {
    cursor: pointer;
}

.jesl-scroller-thumbs li {
    display: inline-block;
    padding: 0 4px 0 0;
}